<head>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign up Page</title>
    </head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-messages">
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}

    <main>
        <h1>Welcome to Scholar Leveling!</h1>
        <div class="signup-page">
            <h1>Sign up!</h1>

            <form class="signup-form" action="{{ url_for('signup_add') }}" method="POST">
                <div>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required>
                </div>

                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <div>
                    <label for="grade">Studies year</label>
                    <input type="text" id="grade" name="grade" required>
                </div>

                <div>
                    <label for="program">Program</label>
                    <input type="text" id="program" name="program" required>
                </div>

                <button type="submit">Create account</button>
            </form>
        </div>
    </main>
</body>

</html>